<ion-content class="forgot-password-content">
  <h2 style="text-align: center;" class="auth-title">Request sent!</h2>
  <p style="font-size: 0.8em; text-align:center;">Just wait a bit for your friend to answer.</p>
  <ion-button class="reset-password-btn" type="submit" expand="block" (click)="closePopover()">Ok</ion-button>

  <!-- //TODO add error/success message in page.ts file 
  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label> -->
</ion-content>
