ion-card {

    width: 70vw !important;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

ion-card h1 {

    text-align: center;
    
}

.header-logo {

    width: 100% !important;
}


ion-button {

    margin: auto;
    margin-top: 15px;
}

.backbtn {
    margin-top: 50px !important;
}
