h1,
h2 {
    font-family: Sen, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    font-weight: 600;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.formarea {

    height: 200px;
}

.submitcontactform-btn {

    margin-top: 15px;
    position: relative;
    float: right;

}