<ion-content>
  <ion-list no-padding>
    <ion-col>
    <h2 style="text-align: center;" class="auth-title">Leave Frime</h2>
    <p style="font-size: 0.8em; text-align:center;">Sure to leave this Frime?</p>
    </ion-col>
  <ion-row >
    <ion-col>
      <ion-button expand="full" color="danger" class="joinfrimebtn" (click)="closePopover()">No</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="primary" class="joinfrimebtn"  (click)="leaveFrime()">Yes</ion-button>
    </ion-col>
  </ion-row>
  </ion-list>  
</ion-content>
