// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-tab-button {
  --color: var(--ion-color-medium-shade);
  --color-selected: var(--ion-color-dark);
}

ion-tab-button img {
    width: 50%;
}

ion-tab-button img:hover {
    opacity: 0.8;
}

ion-tab-bar {

    min-height: 7vh;
    max-height: 10vh;
}

ion-toolbar {

  min-height: 7vh;

}