.impressumlist {
    width: 50%;
    margin: auto;

    ion-label {
        
    text-align: center;
    }
}

h1 {
    text-align: center;
}

ion-col {
    text-align: center;
    margin-top: 10vh;
}

ion-col img {
    display: inline;
    margin: auto;
}