ion-card {

    height: 40px;
    z-index: 3000;
  
  }
  
  .notificationmodal p {
  
    margin-top: 0 !important;
  
  }
  .closenoti {
  
    position: absolute !important;
    top: 5px;
    right: 5px;
  }
  
  .notificationbell {
  
  }