<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="myBackButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      </ion-buttons>
      <ion-title><span class="frimetimefont"><span class="frimespan">FRIME</span><span class="timespan">TIME</span></span> - Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Privacy Policy of <span class="frimetimefont">FRIMETIME</span></h1>

  <h2>1. General</h2>
     <p>
      <strong>1.1.</strong> FRIMETIME e.V., Schelleingasse 28-30 4/16, 1040 Vienna, Austria, hereinafter “FRIMETIME”, as the operator of the website frimetime.comand the web app FRIMETIME (hereinafter both together “Site”), handles your personal data very responsibly.
     </p>
     <p>
      <strong>1.2.</strong> The collection, storage and use of this data occurs in accordance with the legal provisions. The details are provided in this data protection declaration. The following data protection declaration is intended to give you an overview of what is happening with the data and what protection exists. 
     </p>

  <h2>2. Scope of Application</h2>
      <p>
        <strong>2.1.</strong> FRIMETIME is an Austrian based association offering a social media platform for users to interact and plan activities together.  
      </p>
      <p>
        <strong>2.2.</strong> This data protection declaration applies to the Site, and addresses visitors of the Site, as well as those who use the services provided by FRIMETIME via the Site (“Users”). 
      </p>
      <p>
        <strong>2.3.</strong> This data protection declaration does not apply, in particular, to websites of third parties which are referred to by links or otherwise. This includes in particular the websites of the Partners that cooperate with FRIMETIME and to which the services of FRIMETIME relate. FRIMETIME does not take any responsibility whatsoever for any content on these websites or for compliance with the legal provisions on these websites. FRIMETIME explicitly points out the data protection declaration of linked websites.  
      </p>
      <p>
        <strong>2.4.</strong> This data protection declaration refers to the data known by the use of the Site and informs how the data is being processed. There is no data exchange with other companies, which means that data protection is limited to the use of the Site. 
      </p>

      <h2>3. Personal Data</h2>
      <p>
        <strong>3.1.</strong> Personal data are data on personal and factual circumstances of a particular or identifiable natural person. These personal data include, for example, name, email address, postal address and telephone number, as well as information provided by the User during the use of the Site.   
      </p>
      <p>
        <strong>3.2.</strong> Personal data are not automatically collected on the Site. They are only collected and subsequently stored and used, if the User voluntarily enters these. In order to use the full service of FRIMETIME, the User must register and create a user account. This user account contains personal data such as the name or e-mail address. The data are stored in our database for later processing when logging in and providing coupons. 
      </p>
      <p>
        <strong>3.3.</strong> FRIMETIME allows Users to login using Facebook Connect or Gmail Connect. The basic data from the Facebook profile or Gmail account of the User are transferred at the request of the User so that they can be used to manage the user account. These include, inter alia, the name and the public profile information of the User. FRIMETIME does NOT gain access to the User’s login data. FRIMETIME is NOT granted the right to post content on the user’s behalf. 
      </p>
      <p>
        <strong>3.4.</strong> If the User intends concluding a usage contract with FRIMETIME (which only comes into effect upon successful registration), certain additional data, such as profile picture or account data, must be entered. These data are necessary for the use of FRIMETIME services. 
      </p>
      <p>
        <strong>3.5.</strong> In the case of contact by the User, personal data will be processed for the purpose of answering. The correspondence with users is archived and the information is stored. 
      </p>
      <p>
        <strong>3.6.</strong> In addition to the User inputs, the FRIMETIME system may also automatically collected information (usage data) during the use of the Site. This includes data such as browser type, browser language, geographic origin of the User, the date and time of the visit, the access time or web addresses of the websites visited, the IP address of the User, and the domains of which the User accesses the Site. 
      </p>
      <h2>4. Transfer and other Use of Data</h2>
      <p>
        <strong>4.1.</strong> FRIMETIME will not disclose any personal data to third parties without the express consent of the User. 
      </p>
      <p>
        <strong>4.2.</strong> FRYNX may use user-stored data and information for internal research on demographics, user interests and user behavior as well as for sending newsletters or offers. This evaluation is done on an anonymous basis. At any time, the User is free to change the settings of his or her profile concerning the reception of newsletters or offers and has the possibility to cancel future newsletters or offers in any newsletter or offer.  
      </p>

      <h2>5. Personal Data</h2>
      <p>
        <strong>5.1.</strong> The Site uses Google Analytics, a web analytics service provided by Google, Inc. (hereinafter “Google”). Google Analytics uses “cookies”, which are placed on the User ‘s computer to help analyzing how visitors use the Site. The information generated will be transmitted to and stored by Google on their servers. As far as known by FRIMETIME, Google will use this information for the purpose of evaluating the use of the Site, compiling reports on Site activity for FRIMETIME and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law.  
      </p>
      <p>
        <strong>5.2.</strong> Users can prevent the installation of cookies in their settings, but not all functions of the Site can then be fully used. 
      </p>
      <p>
        <strong>5.3.</strong> By using the Site, the User expressly consents to the processing of data about the User by Google in the manner and for the purposes set out above. 
      </p>

      <h2>6. Usage of Cookies</h2>
      <p>
        <strong>6.1.</strong> A cookie contains information that is sent from the Site to the User’s browser. The cookie saves the information on the system. If cookies are used, the Site may remember information about the User and its settings (such as a user name for access to the user-only area of the Site), either until the User closes the current browser window (“session cookies”) or until the user deactivates or deletes the cookie.  
      </p>
      <p>
        <strong>6.2.</strong> FRIMETIME uses session cookies when the User logs in to the site. When the site is called by a registered user, a session cookie for the connection is set by the web server of FRIMETIME to indicate that the User has been authenticated. These session cookies help the User navigate the site. They contain random data that the server uses to authenticate the browser requests to the server within that session. These session cookies include, among other things, the fixed User ID assigned to the User as well as the visited websites of the Users. The session cookie is deleted as soon as the User closes the current browser window (unless the user has the option to re-display the active tabs in the browser when reopening). If a User chooses the option “stay logged in”, the session cookie is automatically deleted after 2 weeks.
      </p>

      <h2>7. Processing and Deletion of Data</h2>
      <p>
        <strong>6.1.</strong> Users may block, delete or correct registered personal data in the user account. Unless the User changes or deletes the data himself, FRIMETIME will stay at your disposal under the contact details stated at the end of this data protection declaration. 
      </p>
      <p>
        <strong>6.2.</strong> Users have the right to disagree with the processing and use of personal data for advertising purposes. Users can revoke their agreement to the use of their email address for newsletters and/or information from FRIMETIME at any time and at no cost. 
      </p>

      <h2>8. Data Security</h2>
      <p>
        <strong>8.1.</strong> In order to ensure data security, the user account is password-protected, which means that third parties do not have access to the account and the data. 
      </p>
      <p>
        <strong>8.2.</strong> FRIMETIME strives to protect the stored data of Users according to current security standards. It is possible for Users to view and / or modify the data they enter. 
      </p>
      <p>
        <strong>8.3.</strong> However, as with any transfer of data over the Internet, a residual risk remains when sending and receiving personal data. 
      </p>
      <p>
        <strong>8.4.</strong> FRIMETIME advises users that, despite FRIMETIME’s high requirements for data protection, all information a user voluntarily releases over the Internet can be intercepted. For this reason, FRIMETIME cannot take any responsibility or liability for the disclosure of information due to errors in data transfer and / or unauthorized access by third parties. 
      </p>

      <h2>9. Right to Information</h2>
      <p>
         Users, as well as certain third parties (in particular government agencies and authorities) may be entitled to receive information regarding the data collected and stored by FRIMETIME. In this case, FRIMETIME is entitled to provide information in certain cases or may be obligated to provide information to the competent authorities on the basis of statutory provisions. 
      </p>

      <h2>10. Changes of the Data</h2>
      <p>
         FRIMETIME reserves the right to change this data protection declaration. If this is the case, the User will be informed by e-mail and the User will receive corresponding information within the scope of the user account. 
      </p>

      <h2>11. Contact</h2>
      <p>
          Requests may be addressed to the following contact details:
          <br><br>
          FRIMETIME e.V.<br>  
          Schelleingasse 28-30 4/16<br>
          1040 Vienna<br>
          Austria
          <br><br>
          office@frimetime.com<br>
          frimetime.com
      </p>
  </div>
 
</ion-content>
